# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
# Virtual environment
.venv/
venv/
env/
# Django
*.log
db.sqlite3
/staticfiles/
/mediafiles/
media/
# Environment variables
.env
.env.*
# IDE
.vscode/
.idea/
*.DS_Store